Given a sentence, identify all unique words and display:

In [1]:

sentence = input("Enter sentence: ")
words = sentence.split()
unique_words = set(words)
print("Count of unique words:", len(unique_words))
print("Unique words:", unique_words)

Enter sentence: python is easy and python is powerful
Count of unique words: 5
Unique words: {'is', 'python', 'easy', 'and', 'powerful'}

Store employee names and their salaries, and determine which employee has the highest salary.

In [2]:

employees = {
    "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000
}
highest_employee = max(employees, key=employees.get)
print("Highest Salary:", highest_employee, "-", employees[highest_employee])

Highest Salary: Ravi - 75000

Find the maximum and minimum values from a list of numbers.

In [3]:

numbers = [45, 22, 89, 10, 66]
maximum = numbers[0]
minimum = numbers[0]
for num in numbers:
    if num > maximum:
        maximum = num
    if num < minimum:
        minimum = num


print("List:", numbers)
print("Max:", maximum)
print("Min:", minimum)

List: [45, 22, 89, 10, 66]
Max: 89
Min: 10

Count Products Above a Price Threshold

In [4]:
prices = [450, 1200, 899, 1500, 300]

count = 0
for price in prices:
    if price > 1000:
        count += 1

print("Products above 1000:", count)

Products above 1000: 2

 Calculate Attendance Percentage

In [5]:
attendance = ["P", "P", "A", "P", "P"]

present = 0
for day in attendance:
    if day == "P":
        present += 1

percentage = (present / len(attendance)) * 100
print("Attendance Percentage:", percentage)

Attendance Percentage: 80.0

Remove Duplicate Phone Numbers

In [6]:
phone_numbers = [9876543210, 9123456789, 9876543210]

unique_numbers = set(phone_numbers)

print("Unique phone numbers:", unique_numbers)

Unique phone numbers: {9876543210, 9123456789}

Count Character Frequency

In [7]:
text = "pythonp"

frequency = {}

for char in text:
    if char in frequency:
        frequency[char] += 1
    else:
        frequency[char] = 1

print(frequency)

{'p': 2, 'y': 1, 't': 1, 'h': 1, 'o': 1, 'n': 1}

 Convert List to Tuple

In [8]:
numbers = [10, 20, 30]

result = tuple(numbers)

print("Tuple:", result)

Tuple: (10, 20, 30)

Check if a Key Exists in a Dictionary

In [9]:
employees = {"Ravi": 75000, "Anita": 68000}

key = "Ravi"

if key in employees:
    print("Employee exists")
else:
    print("Employee does not exist")

Employee exists

calculate avg marks

In [10]:
marks = [70, 75, 80, 65]

average = sum(marks) / len(marks)

print("Average Marks:", average)

Average Marks: 72.5